<form [formGroup]="linkForm" (submit)="updateImgLink()">
  <input #imgInput type="file">
  <button type="submit">Upload/Reset image</button>
</form>

<form [formGroup]="fileForm" (submit)="handleFile()">
  <input #fileInput type="file">
  <button type="submit">Upload file</button>
</form>

<form [formGroup]="passwordForm" class="password-field" (submit)="setPassword()">
  <input id="pass" formControlName="password" type="password" placeholder="Type the password">
  <input [ngClass]="confirmPasswordField?.valid?'':'invalid'" id="confirmPass" formControlName="confirmPassword" type="password" placeholder="Confirm the password">
</form>

<div class="rangeInput">
  <label for="rangeSelector">Using {{bitsPerChannel}} bit{{bitsPerChannel>1?"s":""}} per channel!</label>
  <input id="rangeSelector" type="range" [ngModel]="bitsPerChannel" (ngModelChange)="updateSlider($event)" min="1" max="8">
</div>

<p *ngIf="isImgLoaded">Size: [{{canvasW}}x{{canvasH}}]</p>
<p *ngIf="isImgLoaded">{{parseSize(imgAvailableBytes)}} available</p>
<p *ngIf="isFileLoaded">The loaded file will occupy {{parseSize(fileMetadata.size)}}</p>
<p *ngIf="passwordForm.valid" class="pass">Using a password for injection and extraction (it will significally increase the time that it takes to execute all operations)</p>
<div *ngIf="isFileLoaded && isImgLoaded">
  <p *ngIf="imgAvailableBytes >= fileMetadata.size" class="success">You can Inject the file into the image!</p>
  <p *ngIf="imgAvailableBytes < fileMetadata.size" class="error">The file is bigger than your image</p>
</div>

<div *ngIf="currentErrorStatus !== ''" class="">
  <hr>
  <p class="error">{{currentErrorStatus}}</p>
  <hr>
</div>

<div class="column">
  <div>
    <button *ngIf="isImgLoaded" (click)="extractDataFromImage()">Extract data from image!</button>
    <button *ngIf="isFileLoaded && isImgLoaded &&imgAvailableBytes >= fileMetadata.size" (click)="injectFIleIntoImage()">Inject file into image!</button>
    <button *ngIf="isImgLoaded" (click)="downloadCurrentCanvas()">Download image!</button>
  </div>
  <div class="scrollableCanvas">
    <canvas #previewCanvas  [attr.width]="canvasW" [attr.height]="canvasH"></canvas>
  </div>
</div>

