.rangeInput {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-top: 16px;
}

.column {
    display: flex;
    flex-direction: column;
}

.password-field {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 8px;
}

.scrollableCanvas {
    overflow: auto;
    width: 98vw;
    height: 90vh;
}

.error {
    color: red;
    font-weight: 800;
}

.success {
    color: green;
    font-weight: 800;
}

.pass {
    color: darkslateblue;
    font-weight: 800;
}

.appStatus {
    color: blueviolet;
    font-weight: 800;
}

.invalid {
  background-color: ivory;
  outline: 1px solid red;
}

.paste-field {
    padding: 12px;
    min-width: 280px;
    max-width: 520px;
    border: 1px;
    border-style: solid;
    border-radius: 0px 8px 8px 0px;
    border-color: lightgray;
}

.paste-field:focus {
    border-color: black;
}